@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
:root {
    --dark-one: #333;
    --dark-two: #7a7a7a;
    --dark-three: #151111;
    --main-color:#00ADB5;
    --main-two:#6b44e0;
    --light-one: #fff;
    --light-two: #f9fafb;
    --light-three: #E3FDFD;
    --light-four: #71C9CE;
  }